/*Responsive*/
$phone: 900px;

/*Sizes*/
$page-width: 1250px;
$mobile-page-width: 1249px;

/*Font sizes*/
$font-big: 46px;
$font-header: 36px;
$font-medium: 24px;
$font-normal: 20px;
$font-small: 18px;
$font-label: 16px;
$font-little: 14px;
